@import 'tailwindcss';

@theme {
  --color-gray-900: #050505;
  --color-gray-800: #141414;
  --color-gray-700: #212328;
  --color-gray-600: #30333a;
  --color-gray-500: #9095a1;
  --color-gray-400: #ccdadc;

  --color-blue-600: #5862ff;
  --color-yellow-400: #fdd458;
  --color-yellow-500: #e8ba40;
  --color-teal-400: #0fedbe;
  --color-red-500: #ff495b;
  --color-orange-500: #ff8243;
  --color-purple-500: #d13bff;
  --color-border: #303241;
  --color-down: #FF5B6D;
  --color-up: #22D49F;
}

@theme inline {
  --font-roboto: var(--font-roboto);
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility col-center {
  @apply flex flex-col items-center justify-center;
}

@utility full-size {
  @apply w-full h-full;
}

body {
  font-family: var(--font-roboto);
  background-color: #171822;
}
